@import url("../style.css");


.main__about{
    font-family: 'Bona nova', serif;
}
.banner__filter{
    height: 55%;
    width: 100%;
    position: absolute;
    z-index: 1;
    filter: blur(100px);
    padding-bottom: 200px;
    overflow: hidden;
}
.banner__img{
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.banner__title{
    z-index: 99;
    position: absolute;
    margin-left: 35%;
    margin-top: 17%;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 2px black;
}
.banner__text{
    padding: 60px 180px; 
    font-size: 1.8rem;
    text-align: center;
}
.services{
    padding: 60px 0 60px 0;
}
.services__serv1{
    display: flex;
    align-items: center;
}
.serv1__textbox{
    background-color: var(--light-green);
    margin-right: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
}
.serv1__title, .serv2__title, .serv3__title{
    font-size: 1.6rem;
    font-weight: bold;
}
.serv1__text, .serv2__text, .serv3__text{
    font-size: 1.5rem;
    padding: 10px;
}
.serv1__img{
    border-radius: 50px; 
    width: 400px;
    margin-right: 50px;
}
.services__serv2{
    display: flex;
    align-items: center;
}
.serv2__textbox{
    background-color: var(--color-gold);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: white;
}
.serv2__img{
    border-radius: 50px; 
    width: 400px;
    margin-left: 50px;
}
.services__serv3{
    display: flex;
    align-items: center;
}
.serv3__textbox{
    background-color: var(--light-green);
    margin-right: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: white;
}
.serv3__img{
    border-radius: 50px; 
    width: 400px;
    margin-right: 50px;
}
.serv1__img:hover, .serv2__img:hover, .serv3__img:hover{
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px var(--color-brown));
}
.exit__text{
    margin-top: 80px;
    padding: 0px 180px; 
    font-size: 1.6rem;
    text-align: center;
    color: black;
}
.exit__text a{
    text-decoration: none;
    color: var(--color-gold);
}
.exit__text a:hover{
    text-decoration: underline;
}
.about__exit__button{
    margin-top: 40px;
    padding: 8px 15px;
    font-family: 'Bona nova', serif;
    font-size: 1.4rem;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--light-green);
    color: var(--soft-pink);
}
.about__exit__button:hover{
    background-color: var(--soft-green);
    cursor: pointer;
}