@import url("../style.css");

.main__catalog{
    font-family: 'Bona nova', serif;
}
.catalog{
    padding-top: 7rem;
}
.banner__functions{
    display: flex;
    padding: 15px 50px;
    align-items: center;
    background-color: var(--primary-color);
    height: 80px;
    font-size: 1rem;
    color: var(--soft-pink);
    gap: 20px;
    text-align: center;
}
.filter__text{
    width: 100px;
    align-items: center;
    display: flex;
    gap: 5px;   
    cursor: pointer;
    list-style: none;
}
.filter__options{
    display: none;
}
.filter__text:hover+.filter__options{
    display: block;
}
.filter__list{
    list-style: none;
}
.results__shown{
    width: 250px;
    align-items: center;
}
.filter__img{
    width: 20px;
    justify-content: center;
    vertical-align: middle;
}
.filter__line{
    height: 40px ;
    align-items: center;
}
.form__search{
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.input__search{
    padding: 10px;
    border-radius: 15px;
    border-color: var(--primary-color);
    font-family: 'Bona nova', serif;
    font-size: 0.8rem;
}
.search__button{
    background-color: var(--soft-pink);
    padding: 6px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
}
.button__img{
    fill: var(--soft-pink);
    max-width: 100%;
    
}

.order{
    width: 200px;
    height:35px;
    padding: 8px;
    border-radius: 15px;
    font-family: 'Bona nova', serif;
    cursor: pointer;
}