@import url("../style.css");

.separatorNav{
    padding-top: 8rem;
}

.Contact-us {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Bona Nova', serif;
}

.Contact-us h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
<<<<<<< HEAD
    font-weight: bold;
}

.Contact-us p {
    color: var(--color-brown);
    font-size: large;
=======
    font-weight: 400;
    margin-bottom: 1rem;
}

.Contact-us p {
    color: var(--color-gold);
    width: 60%;
    text-align: center;
    font-size: large;
    margin: 0 auto;
>>>>>>> 95785e4 (changes)
}

.container-form{
    display: flex;
    width: 75vw;
<<<<<<< HEAD
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    margin-bottom: 65px;
=======
    max-width: 1160px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
>>>>>>> 95785e4 (changes)
    background: var(--soft-pink);
    border-radius: 30px;
}
.img-form{
    width: 35%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.needs-validation{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--color-brown);
    padding: 3px;
    color: var(--color-brown);
    margin-left: 3.5%;
    padding-left: 10px;
<<<<<<< HEAD
}
.form-input2{
    width: 99.5%;
    margin: 0 3.5%;
    
}
.form-input input {
  background-color: var(--soft-pink);
  border-style: none;
  border: none;
  color: var(--color-brown);
}
.form-input input:focus {
  outline: none;
=======
    gap: 5px;
    margin-bottom: 1.2rem;
}

.form-input label {
    font-size: .8rem;
}

.form-input2{
    width: 99.5%;
    margin: 0 3.5%;
    margin-bottom: 1.2rem;
}
.form-input input {
    font-size: 1rem;
    background-color: var(--soft-pink);
    border-style: none;
    border: none;
    color: var(--color-brown);
}
.form-input input:focus {
    outline: none;
>>>>>>> 95785e4 (changes)
}
.form-input input::placeholder{
    color: var(--color-brown);
    font-size: small;
}
.message-box{
    width: 100%;
    height: 130px;
    background-color: var(--soft-pink);
    border-radius: 10px;
    border-color: var(--color-brown);
    color: var(--color-brown);
    padding-left: 10px;
<<<<<<< HEAD
=======
    border: 1px solid var(--color-brown);;
>>>>>>> 95785e4 (changes)
}
.message-box:focus{
    outline: none;
}
.message_box:placeholder{
    color: var(--color-brown);
}
.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form__button{
<<<<<<< HEAD
    padding: 12px 55px;
=======
    padding: 13px 60px;
    font-size: 15px;
>>>>>>> 95785e4 (changes)
    border-radius: 22px!important;
    color: white;
    background-color: var(--primary-color);
    border: none;
}
