@import url("../style.css");

.separadorNav{
    padding-top: 8rem;
}

.Contáctanos {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Bona Nova', serif;
}

.Contáctanos h1 {
    color: var(--primary-color);
}

.Contáctanos p {
    color: var(--color-brown);
}

.conteiner-form{
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    background: var(--soft-pink);
    border-radius: 30px;
}
.img-formulario{
    width: 40%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
form{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
form label{
    color: var(--text-brown);
    font-weight: 600;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 3px;
    margin-left: 2.5%;
}
.form-input2{
    width: 92.5%;
    margin: 0 2.5%;
}
.form-input input{
    background-color: var(--soft-pink);
    border-style: none;
    border: none;
    color: var(--color-brown);
}
.form-input input:focus{
    outline: none;
}
.form-input input::placeholder{
    color: var(--text-brown);
}
textarea{
    width: 100%;
    background-color: var(--soft-pink);
    border-radius: 10px;
    border-color: black;
    color: var(--text-brown);
}
textarea:focus{
    outline: none;
}
textarea::placeholder{
    color: var(--text-brown);
}
.conteiner-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    padding: 10px 45px;
    border-radius: 20px!important;
    color: white;
    background-color: var(--primary-color);
    border: none;
}
