@import url(../style.css);
.header{
    font-family: "Bona Nova", sans-serif;
    background-image: url("../../images/background-main.png");
    height: 100vh;
    background-size: cover;
    background-position: top;
}
.header__opacity{
    background-color: #00000083;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.home{
    position: relative;
    height: 100vh;
    padding:5rem;
    padding-top: 10rem;
    padding-left: 15rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5rem;
    z-index: 2;
}

.home__title{
    font-size: 3rem;
    font-weight: 500;
    text-align: end;
    color: #ffff;
}

.home__see-more{
    cursor: pointer;
    border-radius: 2px;
    background-color: transparent;
    color: #ffff;
    border-color: #ffff;
    padding: 1rem 3rem;
    font-size: 1.3rem ;
}

.main{
    font-family: "Bona Nova", sans-serif;
}

.featured{
    padding: 3rem 10rem;
    display: flex;
    gap: 4rem;
    height: 95vh;
    max-height: 100vh;
    margin-bottom: 8rem;
}

.section__title{
    color: var(--primary-color);
    font-size: 3.2rem;
}

.section__title--vertical{
    writing-mode: vertical-lr;
    text-orientation: upright;

}

.featured__collage{
    width: 100%;
    display: grid;
    grid-template-columns:  20% 30% 50%;
    object-fit: cover;
    gap: .5rem;
}

.collage__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.collage__image:hover {
    transform: scale(0.9);
    transition-duration: .5s ;
}

.collage__image-6{
    grid-column: 1/2;
    grid-row: 1/2;
}
.collage__image-2{
    grid-column: 2/3;
    grid-row: 1/3;
}
.collage__image-1{
    grid-column: 3/4;
    grid-row: 1/2;
}
.collage__image-5{
    grid-column: 1/2;
    grid-row: 2/4;
}
.collage__image-4{
    grid-column: 2/3;
    grid-row: 3/4;
}
.collage__image-3{
    grid-column: 3/4;
    grid-row: 2/4;
}


.about{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 70% 30%;
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    padding: 4rem 7rem 4rem 3rem;
}

.about__arrow{
    position: absolute;
    right: 4rem;
    top: 50%;
    z-index: 99;
}

.dot{
    position: absolute;
    right: 3.6rem;
    top: 46.5%;
    height: 70px;
    width: 70px;
    background-color: var(--color-gold);
    /* background-color: white; */
    border-radius: 50%;
    display: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.514);
}
.about__arrow:hover + .dot, .dot:hover {
    cursor: pointer;
    display: block;
}

.about__title{
    grid-column: 1/2;
    width: fit-content;    
}

.about__title .section__title, .about__title hr{
    color: #ffff;
    font-size: 2.5rem;
    font-weight: 500;
}

.cart {
    transition-duration: 2s;
}

.section__text{
    grid-column: 1/2;
    line-height: 2rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: justify;
}

.about__flower{
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 4rem;
    height: 350px;
}

.categories{
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.categories .section__title{
    font-weight: 600;
    letter-spacing: 1rem;
    font-size: 2.5rem;
    text-align: end;
}
.categories__container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top:2rem;
}

.container__card{
    position: relative;
    width: 300px;
    height: auto;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.card__image{
    height:100% ;
    object-fit: cover;
    width: 100%;
    object-position: 0 -1rem;
}

.card__info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--soft-pink);
    padding: 1.5rem;
    padding-top: .5rem;
    color: var(--color-gold);
}

.card__title{
    padding-bottom: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    font-size: 1.1rem;
}

.card__text{
    font-size: 1rem;
    color: black;
}

.section__button{
    align-self: center;
    text-align: center;
    width: max-content;
    margin-top: 2rem;
    background-color: var(--primary-color);
    border: transparent;
    color: #fff;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.see__more{
    align-self: center;
}
.section__button:hover{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.466);
}
.buttton__arrow{
    width: 15px;
}