@import url("../style.css");

:root{
    --primary-color:#43766C;
    --background-color: #F5E9DA;
    --light-green: #82B59D;
    --soft-green:#BCCFBC;
    --color-gold: #B19470;
    --color-brown: #76453B;
    --text-brown: #482b25;
    --soft-pink:#f5e9d9;
}

.total-login{
    border: none;
    margin: 0;
    padding: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
}

.form-container {
    display: none;
}

.form--login{
    display: flex;
    margin-top: 50px;
    width: 650px;
    padding: 6px;
    margin: 0 auto;
    border-radius: 100px;
    justify-content: center;
    flex-direction: column;
}

.form--regis{
    display: flex;
    margin-top: 50px;
    width: 650px;
    padding: 6px;
    margin: 0 auto;
    border-radius: 100px;
    justify-content: center;
    flex-direction: column;
}

.par{
    display: flex;
    text-align: center;
    width: 600px;
    margin-top: 7px;
    margin: 8px auto;;
}

.label0,
.label1,
.label2,
.label3 {
    margin-bottom: 2px;
}

.input0,
.input1,
.input2,
.imput3 {
    display: flex;
    padding: 17px;
    width: 600px;
    margin-bottom: 16px;
    background-color: var(--background-color);
    border-radius: 50px;
    border: none;
}

/*botones de arriba inicio-registro*/
.ini-regis{
    display: flex;
    margin-top: 50px;
    padding: 5px;
    width: 350px;
    margin:30px auto;;
    border-radius: 100px;
    justify-content: center;
    background-color: var(--background-color);
}

.button-regis{
    background-color: var(--background-color);
    color: black;
    border: none;
    margin-right: 70px;
    font-size: 17px;

 
}

.button-ini1{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 100px;
    width: 170px;
    padding: 15px;
    margin-right:auto;
    font-size: 17px;
}

.button-ini2{
    display: flex;
    /*margin-top: 50px;*/
    width: 300px;
    padding: 15px;
    margin: 30px auto;
    border-radius: 100px;
    justify-content: center;
    color: white;
    background-color: #43766C;
    font-size: 17px;
}

.olvidPass{
    color: var(--text-brown);
    margin-left: 330px;

}