@import url("./componentes/nav.css");
@import url("./componentes/footer.css");
@import url("./pages/about.css");
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');
@import url("./pages/home.css");
@import url("./pages/contact.css");
@import url("./componentes/cart.css");
@import url("pages/catalog.css");
@import url("./pages/login.css");
@import url("pages/product.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 5s ease-out;
}
.display--none{
    display: none;
}

:root{
    --primary-color:#43766C;
    --background-color: #F5E9DA;
    --light-green: #82B59D;
    --soft-green:#BCCFBC;
    --color-gold: #B19470;
    --color-brown: #76453B;
    --text-brown: #482b25;
    --soft-pink:#f5e9d9;
}