.footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 3rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.footer__info{
    display: flex;
    justify-content: space-between;
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.footer__list a{
    text-decoration: none;
    color:#fff
}
.footer__list a:hover{
    text-decoration: underline;
    color: #fff;
}
.footer__list a:visited {
    text-decoration: none;
    color: #fff;
  }

.footer__copyright{
    display: block;
    width: 100%;
    padding-top:1.5rem ;
    text-align: center;
    font-size: 0.8rem;
}