.banner{
    /* background-color: blue; */
    overflow: hidden;
}
.banner__title{
    /* position: relative; */
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    font-size: 3rem;
}
.banner__img{
    width: 100%;
    margin-bottom: -200px;
    filter: blur(5px);
}
.banner__text{
    margin-top: 200px;
}